.screenTitle {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 12px;
}

.square {
  width: var(--squareSide);
  background-color: black;
  aspect-ratio: 1/1;
  --squareSide: 10px;
}

@media (max-width: calc(120em - 1px)) {
  .square {
    width: 9px;
  }

  .screenTitle {
    gap: 10px;
  }
}

@media (max-width: calc(90em - 1px)) {
  .square {
    width: 8px;
  }

  .screenTitle {
    gap: 8px;
  }
}

@media (max-width: calc(48em - 1px)) {
  .square {
    width: 9px;
  }

  .screenTitle {
    gap: 10px;
  }
}
