.screenTitle {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 12px;
}

.square {
  width: var(--squareSide);
  height: var(--squareSide);
  background-color: black;
  --squareSide: 10px;
}

@media (max-width: calc(120em - 1px)) {
  .square {
    --squareSide: 9px;
  }

  .screenTitle {
    gap: 10px;
  }
}
