.screenTitle {
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  gap: 0.75rem;
}

.square {
  width: 10px;
  height: 10px;
  transform: translate(0, -1px);
  background-color: black;
}

/*.screenTitle:before {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  content: "";*/
/*  transform: translate(calc(-100% - 12px), calc(-50% - 1px));*/
/*  background-color: black;*/
/*}*/
