.wrapper {
  position: relative;
  display: grid;
  padding-top: var(--heading-h);
  padding-bottom: var(--sm);
  color: white;
  --heading-h: 6rem;
  grid-template-columns: var(--greeting-screen-first-line) 1fr auto;
  grid-template-rows: 1fr calc(var(--heading-h) - var(--sm));
}

.allProjectsLink,
.languageChange {
  padding: 1rem;
  text-transform: uppercase;
  opacity: 0.7;
  justify-self: start;
}

.allProjectsLink {
  position: relative;
  z-index: 2;
  align-self: center;
  margin-left: -1rem;
  transform: rotate(180deg);
  text-orientation: sideways;
  writing-mode: vertical-lr;
}

.languageChange {
  margin-bottom: -1rem;
  margin-left: -1rem;
}

.swiper {
  display: flex;
  overflow: visible;
  align-self: center;
  flex-direction: column;
  width: min(105rem, 75%);
  margin: unset;
  grid-column: 2 / span 3;
}

.slide {
  cursor: grab;
  transition: transform ease-out var(--tl);
}

.slide:global(.swiper-slide-prev) {
  transform: translate(-50%);
}

.slideContent {
  display: flex;
  align-items: start;
  flex-direction: column;
  max-width: 60rem;
}

.slideContent h2 {
  font-size: var(--2xl);
  font-weight: 300;
  line-height: 115%;
  margin-bottom: var(--xs);
  transition: color ease-in-out 1s, opacity ease-in-out var(--tl);
  opacity: 0.2;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px white;
}

.slideContent p {
  max-width: 30rem;
  margin-bottom: var(--md);
}

.slideContent p,
.slideContent .linkWithLine {
  transition: opacity ease-in-out var(--tl);
  opacity: 0;
}

.slide:global(.swiper-slide-active) h2 {
  opacity: 1;
  color: white;
}

.slide:global(.swiper-slide-active) p {
  opacity: 0.5;
}

.slide:global(.swiper-slide-active) .linkWithLine {
  opacity: 1;
}

.swiperPagination {
  display: flex;
  width: 30rem;
}

.bullet {
  font-size: 0.875em;
  flex-grow: 1;
  padding: 1rem;
  cursor: pointer;
  transition: border-bottom-color ease-in-out var(--ts),
    color ease-in-out var(--ts);
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  border-width: 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-bottom-width: 1px;
}

.bullet:hover {
  color: white;
}

.bulletActive {
  border-color: rgba(255, 255, 255, 0.75);
}

.socials,
.languageChange,
.swiperPaginationWrapper {
  align-self: end;
}

.controlledSwiper {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*@media (max-width: calc(90em - 1px)) {*/
/*  .wrapper {*/
/*  }*/

/*  .wrapper {*/
/*    padding-bottom: 1.5rem;*/
/*  }*/

/*  .slide {*/
/*    width: 37.5rem;*/
/*  }*/

/*  .slide h2 {*/
/*    font-size: 3.5rem;*/
/*  }*/

/*  .swiperPagination {*/
/*    width: 18rem;*/
/*  }*/
/*}*/
