.wrapper {
  position: relative;
  display: grid;
  min-height: 100vh;
  padding-top: var(--heading-h);
  padding-bottom: var(--sm);
  color: white;
  --heading-h: 6rem;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 1fr calc(var(--heading-h) - var(--sm));
}

.allProjectsLinkWrapper {
  align-self: center;
  margin-left: -1rem;
}

.allProjectsLinkWrapper,
.languageChange {
  text-transform: uppercase;
  opacity: 0.7;
  justify-self: start;
}

.allProjectsLink {
  z-index: 2;
  padding: 1rem;
  transform: rotate(180deg);
  text-orientation: sideways;
  writing-mode: vertical-lr;
}

.languageChange {
  margin-bottom: -1rem;
  margin-left: -1rem;
  padding: 1rem;
}

.swiper {
  display: flex;
  overflow: visible;
  align-self: center;
  flex-direction: column;
  width: min(105rem, 85%);
  margin: unset;
  grid-column: 2 / span 4;
}

.slide {
  cursor: grab;
  transition: transform ease-out var(--tl);
}

.slide:global(.swiper-slide-prev) {
  transform: translate(-50%);
}

.slideContent {
  display: flex;
  align-items: start;
  flex-direction: column;
  max-width: 80%;
}

.slideContent h2 {
  font-size: var(--2xl);
  margin-bottom: var(--xs);
  transition: color var(--tl), opacity var(--tl);
  opacity: 0.2;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px white;
}

.slideContent .pWrapper {
  max-width: 55%;
  margin-bottom: var(--md);
}

.slideContent .pWrapper,
.slideContent .linkWithLine {
  transition: opacity ease-in-out var(--tl);
  opacity: 0;
}

.slide:global(.swiper-slide-active) h2 {
  opacity: 1;
  color: white;
}

.slide:global(.swiper-slide-active) .pWrapper {
  opacity: 0.5;
}

.slide:global(.swiper-slide-active) .linkWithLine {
  opacity: 1;
}

.swiperPagination {
  display: flex;
  width: 100%;
}

.bullet {
  font-size: 0.875rem;
  flex-grow: 1;
  padding: var(--linkPadding);
  cursor: pointer;
  transition: border-bottom-color ease-in-out var(--ts),
    color ease-in-out var(--ts);
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  border-width: 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-bottom-width: 1px;
}

.bullet:hover {
  color: white;
}

.bulletActive {
  border-color: rgba(255, 255, 255, 0.75);
}

.socials,
.languageChange,
.swiperPaginationWrapper {
  align-self: end;
}

.socials {
  justify-self: end;
}

.swiperPaginationWrapper {
  width: calc(1 / 3 * 100%);
}

.controlledSwiper {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: calc(120em - 1px)) {
  .bullet {
    font-size: 0.625rem;
  }
}

@media (max-width: calc(90em - 1px)) {
  .slideContent .pWrapper {
    max-width: 60%;
  }

  .swiperPaginationWrapper {
    width: 50%;
  }
}

@media (max-width: calc(64em - 1px)) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr calc(var(--heading-h) - var(--sm));
  }

  .allProjectsLinkWrapper,
  .languageChange {
    display: none;
  }

  .swiper {
    grid-column: 1 / span 3;
  }

  .slideContent .pWrapper {
    max-width: 60%;
  }

  .swiperPaginationWrapper {
    width: 100%;
  }
}

@media (max-width: calc(48em - 1px)) {
  .wrapper {
    grid-template-columns: 100%;
  }

  .swiper {
    width: 100vw;
    margin-left: calc(var(--wrapperPaddingX) * -1);
    grid-column: 1;
  }

  .slideContent {
    max-width: unset;
    padding: 0 var(--wrapperPaddingX);
  }

  .slideContent h2 {
    font-size: var(--lg);
  }

  .wrapper .socials {
    display: none;
  }
}
