.wrapper {
  position: relative;
  width: max-content;
}

.link {
  display: block;
  padding: 1.75rem 3.125rem;
}

.line {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.line path {
  stroke-dasharray: 855;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset ease-in-out 1.5s;
}

.wrapper:hover .line path {
  stroke-dashoffset: calc(855 * 2);
}



/*@keyframes drawLine {*/
/*  to {*/
/*    stroke-dashoffset: 0;*/
/*  }*/
/*}*/
