.content {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgba(23, 23, 23, 1);
}

.map {
  align-self: center;
  width: 100%;
  height: 100%;
}

.animationCircleWave {
  pointer-events: none;
}

.clickCather {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.animatedElementsWrapper {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 9rem;
  padding: 1rem;
  transform: translate(-50%, calc(-100% - 0.5rem));
  aspect-ratio: 1 / 1.41421356237;
}

.svgLines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageClipper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: var(--sm);
  color: white;
  gap: var(--2xl);
}

.contacts {
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
  padding: 0 var(--wrapper-padding-x);
  gap: var(--xs);
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.contact h5 {
  margin-bottom: var(--3xs);
}

.contact p {
  margin-bottom: var(--xs);
}

.contact a {
  margin: calc(var(--link-padding) * -1);
  padding: var(--link-padding);
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--wrapper-padding-x);
}

.email {
  margin: calc(var(--link-padding) * -1);
  padding: var(--link-padding);
  text-transform: uppercase;
}

@media (max-width: calc(90em - 1px)) {
  .contacts {
    width: calc(100% / 2);
  }
}

@media (max-width: calc(64em - 1px)) {
  .map {
    height: 75%;
  }

  .contacts {
    width: calc(100% / 1.5);
  }
}

@media (max-width: calc(48em - 1px)) {
  .map {
    width: 125%;
    height: 60%;
  }

  .contacts {
    width: unset;
  }

  .contact {
    align-items: start;
    text-align: start;
  }

  .footer {
    flex-direction: column;
    gap: var(--2xs);
  }
}
