.content {
  display: grid;
  margin: 0 auto var(--5xl);
  padding: 0 var(--wrapper-padding-x);
  justify-items: center;
  grid-template-columns: repeat(2, auto);
  row-gap: var(--xl);
}

.onePoint {
  width: min(calc(100% / 12 * 9), 45em);
}

.onePoint p {
  line-height: 170.2%;
}

.icon {
  width: var(--sm);
  margin-bottom: var(--xs);
}

.heading {
  margin-bottom: var(--4xs);
}

@media (max-width: calc(48em - 1px)) {
  .content {
    grid-template-columns: auto;
    row-gap: var(--lg);
  }

  .onePoint {
    width: unset;
  }
}
