.content {
  display: grid;
  min-height: unset;
  padding-top: var(--sm);
  padding-bottom: var(--sm);
  background-image: url("./assets/line.svg");
  background-position: left;
  background-size: cover;
  grid-template-columns: 2fr 1fr 1fr;
  row-gap: var(--4xl);
}

.ctaBlock {
}

.ctaBlock h2 {
  max-width: calc(4 / 6 * 100%);
  margin-bottom: var(--md);
}

.pages,
.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: var(--2xs);
}

.blockTitle {
  margin-bottom: var(--4xs);
  text-transform: uppercase;
  opacity: 0.5;
}

.pages a,
.contacts a {
  font-size: var(--2xs);
  font-weight: 300;
  text-transform: capitalize;
}

.contacts a[href^="mailto:"] {
  text-transform: unset;
}

.copyright,
.policies,
.developedBy {
  text-transform: uppercase;
  opacity: 0.7;
}

.copyright {
}

span.textWithOpacity {
  opacity: 0.5;
}

.policies {
  display: flex;
  gap: var(--sm);
}

.developedBy {
  justify-self: end;
}

@media (max-width: calc(90em - 1px)) {
  .ctaBlock h2 {
    max-width: calc(5 / 6 * 100%);
  }

  .copyright,
  .developedBy {
    display: flex;
    flex-direction: column;
  }
}
