.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 0;
  padding-left: 0;
}

.textWrapper {
  display: grid;
  max-width: var(--bp-xl);
  margin-bottom: var(--xl);
  padding: 0 var(--2xl);
  grid-template-columns: repeat(2, 1fr);
}

.textWrapper .screenTitle {
  align-self: start;
  margin-bottom: var(--2xl);
  justify-self: start;
}

.textWrapper h2 {
  overflow: hidden;
  max-height: 3.25em;
  margin-bottom: var(--2xl);
}

.textWrapper p {
  max-width: 60%;
}

.swiper {
  width: 100%;
  margin-bottom: var(--2xl);
}

@media (max-width: calc(90em - 1px)) {
  .textWrapper {
    margin-bottom: 5.25rem;
  }

  .textWrapper p {
    max-width: calc(5 / 6 * 100%);
    grid-column: 2;
  }
}

@media (max-width: calc(64em - 1px)) {
  .textWrapper {
    margin-bottom: var(--2xl);
    padding: 0 6.625rem 0 var(--xl);
    grid-template-columns: unset;
  }

  .textWrapper .screenTitle {
    margin-bottom: var(--sm);
  }

  .textWrapper h2 {
    margin-bottom: var(--xs);
  }

  .textWrapper p {
    grid-column: unset;
  }
}

@media (max-width: calc(48em - 1px)) {
  .textWrapper {
    margin-bottom: var(--xl);
    padding-right: var(--wrapper-padding-x);
    padding-left: var(--wrapper-padding-x);
  }
}
