.wrapper {
  padding-right: 0;
  padding-left: 0;
}

.textWrapper {
  display: grid;
  max-width: var(--bp-xl);
  margin: 0 auto var(--2xl);
  padding: 0 var(--2xl);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

.textWrapper .screenTitle {
  align-self: start;
  margin-bottom: var(--2xl);
  justify-self: start;
}

.textWrapper h2 {
  margin-bottom: var(--2xl);
}

.textWrapper p {
  max-width: 60%;
}

.swiper {
  margin-bottom: var(--2xl);
}

.link {
  margin: auto;
}
