.content {
  position: relative;
  overflow: hidden;
  padding: var(--4xl) 0 var(--sm);
}

.photoWrapper {
  margin: var(--sm) 0 var(--4xl);
}

.blockTitle {
  width: max-content;
  margin: auto;
}

.paragraphWrapper {
  margin: 0 var(--wrapper-padding-x);
}

.paragraph {
  max-width: 50%;
  margin: auto;
  text-align: center;
}

.backgroundSvg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-30deg) scale(1.06);
}

@media (max-width: calc(48em - 1px)) {
  .paragraph {
    max-width: 100%;
  }
}
