.bubbleWrapper {
  margin: 0 -0.5rem;
  padding: 1rem;
}

.bubble {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2.25rem;
  cursor: pointer;
  transition: border var(--ts);
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  aspect-ratio: 1/1;
  gap: 1.25rem;
}

.bubble:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transition: inherit;
  border: 1px dashed transparent;
  border-radius: inherit;
}

.bubble:hover {
  border-color: transparent;
}

.bubble:hover:after {
  border-color: white;
}

.bubble .bubbleIndex {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-150% - 1.25rem));
  opacity: 0.5;
}

.bubble .bubbleText {
  position: relative;
  max-width: 11.5em;
}
