.wrapper {
  overflow: hidden;
}

.animated {
  display: inline-block;
  animation-name: appear;
  animation-duration: 0.9s;
  animation-play-state: paused;
  animation-fill-mode: both;
}

.appear .animated {
  animation-play-state: running;
}

@keyframes appear {
  from {
    transform: translate(-1rem, -100%) rotate(-2deg);
    opacity: 0;
  }
}
