.content {
  animation-name: appear;
  animation-duration: 1.25s;
  animation-play-state: paused;
  animation-fill-mode: both;
}

.appear {
  animation-play-state: running;
}

@keyframes appear {
  from {
    transform: translate(0, 50%);
    opacity: 0;
  }
}
