.content {
  position: relative;
  overflow: hidden;
  margin: var(--4xl) 0;
}

.header {
  text-align: center;
  text-transform: capitalize;
}

.paragraphWrapper {
  margin: 0 var(--link-padding) var(--md);
}

.paragraph {
  width: calc(100% / 3);
  margin: auto;
  text-align: center;
}

.link {
  margin: auto;
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(1.125);
}

@media (max-width: calc(64em - 1px)) {
  .paragraph {
    width: 50%;
  }
}

@media (max-width: calc(48em - 1px)) {
  .paragraph {
    width: 100%;
  }
}
