.swiper {
}

.slide {
  display: grid;
  width: min-content;
  padding-left: 2rem;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: var(--2xs) var(--3xs);
}

.imageContainer {
  overflow: hidden;
  width: 53.5rem;
  height: 33.5rem;
}

.slide img {
  width: 100%;
  height: 100%;
  transition: transform var(--tm);
  object-fit: cover;
  object-position: center;
}

.slide img:hover {
  transform: scale(1.25);
}

.tags {
  display: flex;
  text-transform: uppercase;
  opacity: 0.5;
  gap: 1rem;
  writing-mode: vertical-lr;
}

.description {
  font-size: 1.5rem;
  font-weight: 300;
  display: block;
  height: 1.5rem;
  opacity: 1;
}

.swiperButton {
  line-height: 0;
  position: absolute;
  z-index: 1;
  top: calc(50% - 1.75rem);
  padding: 0 1.375rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: white;
  aspect-ratio: 1/1;
}

.prev {
  left: var(--2xl);
}

.next {
  right: var(--2xl);
  transform: scaleX(-1);
}

.arrow {
  height: 1.125rem;
  transform: translate(-12.5%, 0);
}
