.swiper {
  --desctiptionFontSize: 1.5rem;
  --rowGap: var(--2xs);
  --descriptionMb: var(--4xs);
}

.slide {
  display: grid;
  width: min(50vw, 55rem);
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: var(--rowGap) var(--4xs);
}

.imageContainer {
  overflow: hidden;
  aspect-ratio: 1 / 0.625;
}

.slide img {
  width: 100%;
  height: 100%;
  transition: transform var(--tm);
  object-fit: cover;
  object-position: center;
}

.slide img:hover {
  transform: scale(1.125);
}

.tags {
  display: flex;
  text-transform: uppercase;
  opacity: 0.5;
  gap: 1rem;
  writing-mode: vertical-lr;
}

.description {
  font-size: var(--desctiptionFontSize);
  font-weight: 300;
  display: block;
  opacity: 1;
}

.swiperButton {
  line-height: 0;
  position: absolute;
  z-index: 1;
  top: calc(50% - var(--desctiptionFontSize) * 1 / 2 - var(--rowGap) * 1 / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--lg);
  padding: 0;
  cursor: pointer;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background: white;
  aspect-ratio: 1/1;
}

.prev {
  left: var(--2xl);
}

.next {
  right: var(--2xl);
  transform: translateY(-50%) scaleX(-1);
}

.arrow {
  height: calc(1 / 3 * 100%);
}

@media (max-width: calc(120em - 1px)) {
  .swiper {
    --desctiptionFontSize: 1.25rem;
  }
}

@media (max-width: calc(90em - 1px)) {
  .swiper {
    --desctiptionFontSize: 1rem;
  }

  .slide {
    column-gap: 0.625rem;
  }
}

@media (max-width: calc(64em - 1px)) {
  .slide {
    width: 60vw;
    gap: unset;
    grid-template-columns: unset;
  }

  .slide .tags {
    grid-row: 3;
    writing-mode: unset;
  }

  .slide .imageContainer {
    margin-bottom: var(--rowGap);
  }

  .slide .description {
    margin-bottom: var(--descriptionMb);
  }

  .swiperButton {
    top: calc(
      50% -
        (
          var(--rowGap) + var(--desctiptionFontSize) + var(--descriptionMb) +
            1em
        ) * 1 / 2
    );
  }
}

@media (max-width: calc(48em - 1px)) {
  .slide {
    width: 100%;
    margin-bottom: var(--md);
    padding: 1rem;
  }

  .swiperButton {
    display: none;
  }

  .swiperPaginationHorizontal {
    display: flex;
    width: 50%;
    margin: auto;
  }

  .swiperPaginationBullet {
    flex-grow: 1;
    transition: opacity var(--tm);
    opacity: 0.2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
  }

  .swiperPaginationBulletActive {
    opacity: 0.75;
  }
}
