.content {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 50vh;
  padding: var(--sm) var(--wrapper-padding-x);
  cursor: pointer;
  color: white;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  max-width: 8em;
}

.image {
  z-index: -1;
  object-fit: cover;
}

.imageBackground {
  z-index: -2;
  filter: brightness(0.25);
}

.svg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.ctaTextContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.ctaText {
  position: absolute;
  width: max-content;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

@media (max-width: calc(64em - 1px)) {
  .imageEyesClip,
  .ctaText {
    display: none;
  }
}
