.wrapper {
  position: relative;
  display: grid;
  min-height: 100vh;
  padding-top: var(--heading-h);
  padding-bottom: var(--sm);
  color: white;
  --heading-h: 6rem;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 1fr calc(var(--heading-h) - var(--sm));
}

.allProjectsLinkWrapper {
  position: relative;
  z-index: 1;
  align-self: center;
  margin-left: calc(var(--link-padding) * -1);
  justify-self: start;
}

.languageChangeWrapper {
  margin-bottom: calc(var(--link-padding) * -1);
  margin-left: calc(var(--link-padding) * -1);
  justify-self: start;
}

.allProjectsLink,
.languageChange {
  display: block;
  padding: var(--link-padding);
  transition: color var(--tm);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.allProjectsLink:hover,
.languageChange:hover {
  color: rgba(255, 255, 255, 1);
}

.allProjectsLink {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.swiper {
  display: flex;
  overflow: visible;
  align-self: center;
  flex-direction: column;
  width: calc(var(--swiperWidth) * 1);
  margin: unset;
  --swiperWidth: min(105rem, 85%);
  grid-column: 2 / span 4;
}

.slide {
  height: auto;
  cursor: grab;
  transition: transform var(--tl);
}

.slide:global(.swiper-slide-prev) {
  transform: translate(-50%);
}

.slideContent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  height: 100%;
}

.slideContent h2 {
  margin-bottom: var(--xs);
  transition: color var(--tl), opacity var(--tl);
  opacity: 0.2;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px white;
}

.slideContent h2:hover {
  opacity: 0.5;
}

.slideContent .pWrapper {
  max-width: 55%;
  margin-bottom: var(--md);
}

.slideContent .pWrapper,
.slideContent .linkWithLine {
  transition: opacity var(--tl);
  opacity: 0;
}

.slide:global(.swiper-slide-active) h2 {
  opacity: 1;
  color: white;
}

.slide:global(.swiper-slide-active) .pWrapper,
.slide:global(.swiper-slide-active) .linkWithLine {
  opacity: 1;
}

.swiperPagination {
  display: flex;
  width: 100%;
}

.bullet {
  font-size: var(--sm-font-size);
  flex-grow: 1;
  padding: var(--link-padding);
  cursor: pointer;
  transition: border-bottom-color ease-in-out var(--ts),
    color ease-in-out var(--ts);
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  border-width: 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-bottom-width: 1px;
}

.bullet:hover {
  color: white;
}

.bulletActive {
  border-color: rgba(255, 255, 255, 0.75);
}

.socials,
.languageChangeWrapper,
.swiperPaginationWrapper {
  align-self: end;
}

.socials {
  justify-self: end;
}

.swiperPaginationWrapper {
  width: calc(1 / 3 * 100%);
}

.controlledSwiper {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: calc(90em - 1px)) {
  .slideContent .pWrapper {
    max-width: 60%;
  }

  .swiperPaginationWrapper {
    width: 50%;
  }
}

@media (max-width: calc(64em - 1px)) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr calc(var(--heading-h) - var(--sm));
  }

  .allProjectsLinkWrapper,
  .languageChangeWrapper {
    display: none;
  }

  .swiper {
    grid-column: 1 / span 3;
  }

  .slideContent .pWrapper {
    max-width: 60%;
  }

  .swiperPaginationWrapper {
    width: 100%;
  }
}

@media (max-width: calc(48em - 1px)) {
  .wrapper {
    grid-template-columns: 100%;
  }

  .swiper {
    margin-left: calc(var(--wrapper-padding-x) * -1);
    --swiperWidth: 100vw;
    grid-column: 1;
  }

  .slideContent {
    max-width: unset;
    padding: 0 var(--wrapper-padding-x);
  }

  .wrapper .socials {
    display: none;
  }
}
