.tags {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  gap: var(--2xs) var(--sm);
}

.tag {
  font-size: var(--h3-font-size);
  font-weight: 300;
  display: inline-flex;
  transition: opacity var(--tm);
  animation-name: appear;
  animation-duration: 0.9s;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  opacity: 0.5;
  border: none;
  background: transparent;
  animation-fill-mode: both;
}

.tag:hover {
  opacity: 1;
}

.tag .amount {
  font-size: var(--sm-font-size);
}

@keyframes appear {
  from {
    transform: translate(-1rem, -100%) rotate(-2deg);
    opacity: 0;
  }
}

@media (max-width: calc(120em - 1px)) {
  .tags {
    column-gap: 2rem;
  }
}
