.swiper {
  width: 100%;
}

.swiper :global(.swiper-wrapper) {
  align-items: center;
  transition-timing-function: linear;
  transition-duration: 5s;
}

.slide {
  width: var(--width);
  --width: 25.375rem;
}

.slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.slide:nth-child(even) {
  width: calc(var(--width) * 0.75);
}

@media (max-width: calc(120em - 1px)) {
  .slide {
    --width: 19.5rem;
  }
}
