.swiper {
  width: 100%;
}

.swiper :global(.swiper-wrapper) {
  transition-timing-function: linear;
  transition-duration: 5s;
}

.slide {
  width: min-content;
}

.slide:nth-child(even) {
  transform: scale(0.75);
}
