.swiper {
  overflow: visible;
  width: 100%;
}

.swiper :global(.swiper-wrapper) {
  align-items: center;
  transition-timing-function: linear;
  transition-duration: 5s;
}

.slide {
  width: var(--width);
  /*--width: 25.375rem;*/
  --width: calc(min(25vw, 25rem));
}

.slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.slide:nth-child(even) {
  width: calc(var(--width) * 0.75);
}
