.content {
  position: relative;
}

.line {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  width: 100%;
}

.paused {
  animation-play-state: paused;
}

.running {
  animation-play-state: running;
}

.line path {
  animation-play-state: inherit;
}

.line path {
  transition: stroke-dashoffset ease-in-out 1.5s;
  animation-name: lineDraw;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  stroke-dasharray: 135;
}

@keyframes lineDraw {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 270;
  }
}
