.content {
}

.content span {
  position: relative;
}

.svg {
  position: absolute;
  top: calc(100% + var(--gapToLine));
  left: 0;
  width: 100%;
  --gapToLine: 6px;
}

.svg .path {
  transition: stroke-dashoffset 2s;
}

@media (max-width: calc(90em - 1px)) {
  .line {
    --gapToLine: 4px;
  }
}
