.content {
  position: relative;
  display: grid;
  margin: var(--lg) 0 var(--2xl);
  padding: 0 var(--wrapper-padding-x);
  grid-template-columns: 4fr 3fr 5fr;
  gap: var(--xl) var(--md-gap);
}

.text {
}

.text > p:first-child {
  margin-bottom: var(--2xs);
}

.founderImage {
  width: 100%;
  max-width: 700px;
  height: auto;
  grid-column: 3;
  grid-row: span 2;
  aspect-ratio: 0.71;
  object-fit: cover;
}

.office {
  display: grid;
  align-self: start;
  max-width: 550px;
  margin-right: calc(-33% - var(--md-gap));
  place-self: start end;
  grid-template-columns: auto 1fr;
  grid-column: 2;
}

.officeImage {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.officeTitle {
  font-size: var(--sm-font-size);
  align-self: end;
  margin-right: var(--5xs);
  transform: rotate(180deg);
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.7;
  writing-mode: vertical-lr;
}

.backgroundSvgWrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  overflow-x: clip;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.backgroundSvg {
  flex-shrink: 0;
  width: 112%;
  height: 200%;
  transform: translateY(-10%);
}

@media (max-width: calc(90em - 1px)) {
  .content {
    grid-template-columns: 5fr 2fr 5fr;
  }
}

@media (max-width: calc(64em - 1px)) {
  .content {
    grid-template-columns: 3fr 3fr 6fr;
  }

  .text {
    width: 85%;
    grid-column: span 2;
  }
}

@media (max-width: calc(48em - 1px)) {
  .content {
    grid-template-columns: auto;
    row-gap: var(--lg);
  }

  .office {
    display: none;
  }

  .text {
    width: auto;
    grid-column: auto;
  }

  .founderImage {
    grid-row: 1;
    grid-column: auto;
  }

  .backgroundSvgWrapper {
    display: none;
  }
}
