@layer generalStyles {
  .wrapper {
    overflow: hidden;
    --paddingX: var(--2xl);
    padding: var(--4xl) var(--paddingX) var(--5xl);
  }

  .backgroundImage {
    filter: brightness(0.65);
    pointer-events: none;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }

  @media (max-width: calc(120em - 1px)) {
    .wrapper {
      --paddingX: 4rem;
    }
  }

  @media (max-width: calc(90em - 1px)) {
    .wrapper {
      --paddingX: 3.5rem;
    }
  }
}
