@layer generalStyles {
  .wrapper {
    overflow: hidden;
    padding: var(--4xl) var(--wrapperPaddingX) var(--5xl);
  }

  .backgroundImage {
    filter: brightness(0.65);
    pointer-events: none;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }
}
