.content {
  display: flex;
  justify-content: space-between;
  margin: var(--sm) var(--wrapper-padding-x) var(--4xl);
  text-transform: uppercase;
}

.title {
  opacity: 0.7;
}

.socials {
  display: flex;
  gap: var(--sm);
}

.link {
  transition: opacity var(--tm);
  opacity: 0.7;
}

.link:hover {
  opacity: 1;
}

@media (max-width: calc(90em - 1px)) {
  .socials {
    gap: var(--md);
  }
}

@media (max-width: calc(48em - 1px)) {
  .socials {
    gap: 2rem;
  }
}
