.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.wrapper:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("./assets/background.svg");
  background-size: cover;
  background-position: center;
  transform: scale(1.25) rotate(-6.98deg);
}

.content {
  margin: auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.screenTitle {
  text-align: center;
  grid-column: 1 / span 3;
  margin: auto auto 1.5rem;
}

.title {
  grid-column: 1 / span 3;
  max-width: 18em;
  margin: auto auto 3.5rem;
  font-weight: 300;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  line-height: 148;
  align-items: flex-end;
  font-size: 0.75rem;
  margin-right: 1.5rem;
  margin-bottom: 3.5rem;
}

.text p {
  max-width: 25em;
  text-align: right;
  opacity: 0.5;
}

.text .link {
  text-transform: uppercase;
}

.imageWrapper {
  position: relative;
}

.founderPhoto {
  position: relative;
  z-index: 1;
  display: block;
}

.backdropPhoto {
  margin-bottom: 3.5rem;
  height: 50%;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(80%);
  transform-origin: bottom left;
  transition: transform ease-in-out 0.7s;
}

.backdropPhoto.hiding {
  transform: translate(40%, -10%) rotate(-12deg);
}

.founderTitle {
  font-size: 0.75rem;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  margin-left: 10px;
  letter-spacing: 1px;
  opacity: 0.7;
}
