.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transform: scale(1.25) rotate(-6.98deg);
  background-image: url("assets/backgroundLines.svg");
  background-position: center;
  background-size: cover;
}

.content {
  display: grid;
  max-width: 1440px;
  margin: auto;
  grid-template-columns: 1fr auto 1fr;
}

.screenTitle {
  margin: auto auto 1.5rem;
  text-align: center;
  grid-column: 1 / span 3;
}

.title {
  font-weight: 300;
  max-width: 18em;
  margin: auto auto 3.5rem;
  text-align: center;
  grid-column: 1 / span 3;
}

.text {
  font-size: 0.75rem;
  line-height: 148;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 1.5rem;
  margin-bottom: 3.5rem;
  gap: 1rem;
}

.text p {
  max-width: 25em;
  text-align: right;
  opacity: 0.5;
}

.text .link {
  text-transform: uppercase;
}

.imageWrapper {
  position: relative;
}

.founderPhoto {
  position: relative;
  z-index: 1;
  display: block;
  width: auto;
  height: 35rem;
}

.backdropPhoto {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: 50%;
  margin-bottom: 3.5rem;
  transition: transform ease-in-out 0.7s;
  transform: translate(80%);
  transform-origin: bottom left;
}

.backdropPhoto.hiding {
  transform: translate(40%, -10%) rotate(-12deg);
}

.founderTitle {
  font-size: 0.75rem;
  margin-left: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.7;
  writing-mode: vertical-lr;
}

/*@media (max-width: calc(120em - 1px)) {*/
/*  .text p {*/
/*    max-width: 14.625rem;*/
/*  }*/

/*  .founderPhoto {*/
/*    height: 23.25rem;*/
/*  }*/
/*}*/
