.bubbleWrapper {
  margin: 0 -0.5rem;
  padding: 1rem;
}

.bubble {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.25rem;
  cursor: pointer;
  transition: border var(--ts);
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.papers .bubble {
  color: white;
  border-color: rgba(255, 255, 255, 0.2);
}

.bubble:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transition: inherit;
  border: 1px dashed transparent;
  border-radius: inherit;
}

.bubble:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.papers .bubble:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

:global(.swiper-slide-active) .papers .bubble,
.papers .bubble:global(.active-bubble) {
  border-color: transparent;
}

:global(.swiper-slide-active) .papers .bubble:after,
.papers .bubble:global(.active-bubble):after {
  border-color: white;
}

.bubble .bubbleText {
  position: relative;
}

.bubbleIndex {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - var(--bottomMargin)));
  opacity: 0.5;
  --bottomMargin: 1.25rem;
}

@media (max-width: calc(120em - 1px)) {
  .bubble {
    padding: 1rem;
  }

  .bubbleIndex {
    --bottomMargin: 1rem;
  }
}

@media (max-width: calc(90em - 1px)) {
  .bubble {
    padding: 0.5rem;
  }
}

@media (max-width: calc(64em - 1px)) {
  .bubbleWrapper {
    flex-grow: 1;
  }
}

@media (max-width: calc(48em - 1px)) {
  .bubble .bubbleText {
    max-width: unset;
  }
}
