.content {
  position: fixed;
  z-index: 10;
  display: grid;
  width: 100%;
  height: 6rem;
  padding: 0 var(--2xl);
  transition: background-color var(--transitionTime),
    color var(--transitionTime), transform var(--transitionTime);
  text-transform: uppercase;
  color: var(--accentColor);
  background-color: #fff;
  --accentColor: #000;
  --transitionTime: var(--ts);
  grid-template-columns: repeat(2, 1fr);
}

.content.hidden {
  transform: translate(0, -100%);
}

.content.transparent {
  background-color: transparent;
  --accentColor: #fff;
}

.content > div:first-child {
  display: grid;
  align-items: center;
  grid-template-columns: var(--greeting-screen-first-line) auto;
}

.content > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content nav {
  display: flex;
  gap: calc(var(--2xl) - 1rem);
}

.content nav a {
  padding: 1rem;
  transition: opacity var(--transitionTime),
    border-bottom-color var(--transitionTime);
  opacity: 0.7;
  border-bottom: 1px dashed rgba(255, 255, 255, 0);
}

.content nav a:hover {
  opacity: 1;
  border-bottom-color: white;
}

.logo {
  height: var(--2xs);
}

.burger {
  height: var(--xs);
}

.logo path {
  fill: var(--accentColor);
}

.burger line,
.burger path {
  stroke: var(--accentColor);
}

.cta path {
  stroke: var(--accentColor);
}
