.content {
  position: fixed;
  z-index: 10;
  display: grid;
  align-items: center;
  width: 100%;
  padding: calc(var(--sm) - var(--link-padding)) var(--wrapper-padding-x);
  transition: background-color var(--transitionTime),
    color var(--transitionTime), transform var(--transitionTime);
  text-transform: uppercase;
  color: var(--accentColor);
  background-color: white;
  --accentColor: black;
  --transitionTime: var(--ts);
  grid-template-columns: 2fr 4fr 4fr 2fr;
}

.content.hidden {
  transform: translate(0, -100%);
}

.content.transparent {
  background-color: transparent;
  --accentColor: white;
}

.content nav {
  display: flex;
  --desirableGap: var(--2xl);
  gap: calc(var(--desirableGap) - calc(var(--link-padding) * 2));
}

.content nav a {
  padding: var(--link-padding);
  transition: opacity var(--transitionTime),
    border-bottom-color var(--transitionTime);
  opacity: 0.7;
  border-bottom: 1px dashed rgba(255, 255, 255, 0);
}

.content nav a:hover {
  opacity: 1;
  border-bottom-color: white;
}

.logo,
.burger {
  height: var(--xs);
}

.logo svg {
  height: 100%;
}

.logo path,
.logo rect,
.logo mask {
  fill: var(--accentColor);
  stroke: var(--accentColor);
}

.burger line,
.burger path {
  stroke: var(--accentColor);
}

.corner {
  margin-right: calc(var(--link-padding) * -1);
  padding: var(--link-padding);
  justify-self: end;
}

.corner path {
  stroke: var(--accentColor);
}

@media (max-width: calc(90em - 1px)) {
  .content {
    grid-template-columns: calc((100vw - var(--wrapper-padding-x) * 2) * 2 / 12) auto 1fr auto;
  }

  .content nav {
    --desirableGap: var(--lg);
    justify-self: center;
  }

  .logo,
  .burger {
    height: var(--sm);
  }
}

@media (max-width: calc(64em - 1px)) {
  .content {
    grid-template-columns: 1fr auto 1fr;
  }

  .logo {
    width: 100%;
    justify-self: center;
  }

  .content nav {
    display: none;
  }
}
