.content {
  position: fixed;
  z-index: 10;
  display: grid;
  width: 100%;
  padding: calc(var(--sm) - 1rem) var(--2xl);
  transition: background-color var(--transitionTime),
    color var(--transitionTime), transform var(--transitionTime);
  text-transform: uppercase;
  color: var(--accentColor);
  background-color: #fff;
  --accentColor: #000;
  --transitionTime: var(--ts);
  grid-template-columns: repeat(2, 1fr);
  --linkPadding: 1rem;
}

.content.hidden {
  transform: translate(0, -100%);
}

.content.transparent {
  background-color: transparent;
  --accentColor: #fff;
}

.content > div:first-child {
  display: grid;
  align-items: center;
  grid-template-columns: var(--greeting-screen-first-line) auto;
}

.content > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content nav {
  display: flex;
  --desirableGap: var(--2xl);
  gap: calc(var(--desirableGap) - calc(var(--linkPadding) * 2));
}

.content nav a {
  padding: var(--linkPadding);
  transition: opacity var(--transitionTime),
    border-bottom-color var(--transitionTime);
  opacity: 0.7;
  border-bottom: 1px dashed rgba(255, 255, 255, 0);
}

.content nav a:hover {
  opacity: 1;
  border-bottom-color: white;
}

.logo {
  height: var(--2xs);
}

.burger {
  height: var(--xs);
}

.logo path {
  fill: var(--accentColor);
}

.burger line,
.burger path {
  stroke: var(--accentColor);
}

.cta {
  padding: var(--linkPadding);
}

.cta path {
  stroke: var(--accentColor);
}

@media (max-width: calc(90em - 1px)) {
  .content {
    padding: calc(var(--sm) - 0.5rem) var(--2xl);
    --linkPadding: 0.5rem;
  }

  .content nav {
    --desirableGap: var(--lg);
  }
}
