.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--xl) var(--md-gap);
}

/*.requiresAnimation {*/
/*}*/

.project {
  transition: opacity 0.1s, transform 3s;
  animation: 0.6s both appear,
    1.5s cubic-bezier(0.03, 0.66, 0.35, 0.96) both elevate;
  animation-delay: 0.1s;
}

.project img {
  width: 100%;
  height: auto;
  margin-bottom: var(--2xs);
}

@keyframes appear {
  from {
    opacity: 0;
  }
}

@keyframes elevate {
  from {
    transform: translateY(12.5%);
  }
}

.title {
  margin-bottom: var(--4xs);
}

@media (min-width: 64em) {
  .project:nth-child(even) {
    animation-delay: 0.3s;
  }
}

@media (max-width: calc(64em - 1px)) {
  .content {
    grid-template-columns: unset;
  }

  .tags {
    display: none;
  }
}
