.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--xl) var(--md-gap);
}

.project {
  transition: opacity 0.1s, transform 3s;
  animation: 1.5s both appear;
  /*1.5s cubic-bezier(0.03, 0.66, 0.35, 0.96) both elevate;*/
  animation-delay: 0.1s;
}

.imageContainer {
  margin-bottom: var(--2xs);
}

.image {
  width: 100%;
  height: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(12.5%);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.title {
  margin-bottom: var(--4xs);
}

@media (min-width: 64em) {
  .project:nth-child(even) {
    animation-delay: 0.3s;
  }
}

@media (max-width: calc(64em - 1px)) {
  .content {
    grid-template-columns: unset;
  }

  .tags {
    display: none;
  }
}
