.wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}

.content {
  display: grid;
  flex-grow: 1;
  max-width: var(--bp-xl);
  color: white;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: repeat(2, 1fr);
}

.title {
}

.title h2 {
  max-width: 9em;
  margin-bottom: var(--xs);
}

.title p {
  max-width: 25em;
  margin-bottom: var(--md);
  opacity: 0.5;
}

.bubblesWrapper {
  display: flex;
  align-items: flex-end;
  margin-left: -0.5rem;
}

.bubblesWrapper > *:first-child {
  margin-bottom: var(--md);
}

.bubblesWrapper > *:nth-child(3) {
  margin-bottom: var(--2xl);
}

.papersWrapper {
  position: relative;
  align-self: center;
  height: 700px;
  --sqrtof2: 1.41421356237;
  aspect-ratio: 1 / var(--sqrtof2);
  grid-row: span 2;
  justify-self: center;
}

.papers,
.paper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.paper {
  transition: transform ease-in-out 0.45s, opacity linear 0.45s;
  color: black;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.paper:first-child {
}

.paper:nth-child(2) {
  transform: rotate(-4deg);
  opacity: 0.4;
}

.paper:nth-child(3) {
  transform: rotate(4deg);
  opacity: 0.2;
}

.paper:nth-child(4) {
  opacity: 0;
}

.paperContentWrapper {
  margin: 2rem;
}

.flyingPaper {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animateToLeft {
  animation-name: toLeft;
}

.animateToRight {
  animation-name: toRight;
}

@keyframes toLeft {
  from {
    opacity: 1;
  }
  to {
    transform: translate(-100%, -100%) rotate(-25deg);
    opacity: 0;
  }
}

@keyframes toRight {
  from {
    opacity: 1;
  }
  to {
    transform: translate(100%, -100%) rotate(25deg);
    opacity: 0;
  }
}
