.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}

.content {
  display: grid;
  flex-grow: 1;
  max-width: var(--bp-xl);
  color: white;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: repeat(2, auto);
  row-gap: var(--sm);
}

.text {
}

.text h2 {
  max-width: 9em;
  margin-bottom: var(--xs);
}

.text p {
  max-width: 25em;
  margin-bottom: var(--md);
  opacity: 0.5;
}

.bubblesWrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: -1rem;
  margin-left: -0.5rem;
}

.bubblesWrapper > *:first-child {
  margin-bottom: var(--md);
}

.bubblesWrapper > *:nth-child(3) {
  margin-bottom: var(--2xl);
}

.bubbleText {
  max-width: 11.5em;
}

.swiper {
  display: none;
}

.papersWrapper {
  position: relative;
  align-self: center;
  height: 85%;
  --sqrtof2: 1.41421356237;
  aspect-ratio: 1 / var(--sqrtof2);
  grid-row: span 2;
  justify-self: center;
}

.papers,
.paper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.paper {
  transition: transform ease-in-out 0.45s, opacity linear 0.45s;
  color: black;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.paper:first-child {
}

.paper:nth-child(2) {
  transform: rotate(-4deg);
  opacity: 0.4;
}

.paper:nth-child(3) {
  transform: rotate(4deg);
  opacity: 0.2;
}

.paper:nth-child(4) {
  opacity: 0;
}

.paperContentWrapper {
  margin: 2rem;
}

.flyingPaper {
  animation-duration: var(--tl);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animateToLeft {
  animation-name: toLeft;
}

.animateToRight {
  animation-name: toRight;
}

@keyframes toLeft {
  from {
    opacity: 1;
  }
  to {
    transform: translate(-100%, -100%) rotate(-25deg);
    opacity: 0;
  }
}

@keyframes toRight {
  from {
    opacity: 1;
  }
  to {
    transform: translate(100%, -100%) rotate(25deg);
    opacity: 0;
  }
}

@media (max-width: calc(120em - 1px)) {
  .bubbleText {
    max-width: 13.25em;
  }
}

@media (max-width: calc(90em - 1px)) {
  .bubbleText {
    max-width: 11.5em;
  }
}

@media (max-width: calc(64em - 1px)) {
  .wrapper {
    align-items: stretch;
  }

  .content {
    grid-template-columns: unset;
    grid-template-rows: unset;
  }

  .text {
    width: 50%;
  }

  .text h2,
  .text p {
    max-width: unset;
  }

  .papersWrapper {
    display: none;
  }
}

@media (max-width: calc(48em - 1px)) {
  .bubblesWrapper {
    display: none;
  }

  .swiper {
    display: block;
    width: 100%;
    margin-bottom: -1rem;
  }

  .wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  .content {
    grid-template-rows: 1fr auto;
  }

  .text {
    width: 100%;
    padding: 0 var(--wrapper-padding-x);
  }

  .bubbleText {
    max-width: unset;
  }
}
