.wrapper {
  display: flex;
  margin-right: -1rem;
  margin-bottom: -1rem;
}

.link {
  line-height: 115%;
  padding: 1rem 1.25rem;
  cursor: pointer;
  transition: opacity ease-in-out 0.15s;
  text-transform: uppercase;
  opacity: 0.7;
}

.link:hover {
  opacity: unset;
}
