.wrapper {
  display: flex;
  margin-right: calc(var(--linkPadding) * -1);
  margin-bottom: calc(var(--linkPadding) * -1);
  --disirableGap: var(--sm);
  gap: calc(var(--disirableGap) - var(--linkPadding) * 2);
}

.link {
  padding: var(--linkPadding);
  cursor: pointer;
  transition: opacity var(--ts);
  text-transform: uppercase;
  opacity: 0.7;
}

.link:hover {
  opacity: unset;
}

@media (max-width: calc(64em - 1px)) {
  .wrapper {
    --disirableGap: var(--md);
  }
}
