.content {
  position: relative;
  display: block;
  margin: calc(var(--cardWidth) * 0.5 / var(--cardAspectRatio))
    calc(var(--cardWidth) * 0.5);
  aspect-ratio: 2.5;
  --cardWidth: 450px;
  --cardAspectRatio: 1.95;
}

.cardWrapper {
  position: absolute;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.08));
}

.card {
  display: grid;
  width: var(--cardWidth);
  padding: 0.75em 1em;
  --clipTriangleHeight: 15px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--clipTriangleHeight)),
    calc(100% - var(--clipTriangleHeight)) 100%,
    0 100%
  );
  aspect-ratio: var(--cardAspectRatio);
  grid-template-columns: 40% auto;
  grid-template-rows: 1fr auto 1fr;
}

.card:after {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--size);
  height: var(--size);
  margin: 0.75em 1em;
  content: "";
  background: inherit;
  filter: invert(1);
  --size: 8px;
}

.vacancyName {
  width: min-content;
  text-transform: capitalize;
  place-self: start;
  grid-column: span 2;
}

.vacancyLocation {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  opacity: 0.5;
  place-self: stretch;
  grid-row: 2;
  gap: 10px;
}

.vacancyLocation svg {
  flex-grow: 1;
  height: 1px;
}

.vacancyEmploymentTime {
  opacity: 0.5;
  place-self: end;
  grid-column: 2;
  grid-row: 2;
}

.vacancyDropRequest {
  display: block;
  width: max-content;
  text-transform: uppercase;
  grid-row: 3;
  grid-column: 1;
  place-self: end start;
}

.vacancyDropRequest svg {
}

@media (max-width: calc(120em - 1px)) {
  .content {
    --cardWidth: 340px;
  }
}

@media (max-width: calc(90em - 1px)) {
  .content {
    aspect-ratio: 2;
    --cardWidth: 260px;
  }
}

@media (max-width: calc(64em - 1px)) {
  .content {
    aspect-ratio: 1.25;
    --cardWidth: 260px;
  }
}

@media (max-width: calc(48em - 1px)) {
  .content {
    display: flex;
    flex-direction: column;
    margin: var(--4xl) var(--wrapper-padding-x) var(--2xl);
    gap: var(--md);
  }

  .cardWrapper {
    position: static;
  }

  .card {
    width: auto;
  }
}
