.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 9rem 0;
  color: white;
}

.wrapper h2 {
  max-width: 10em;
  margin-bottom: 5.5rem;
  text-align: center;
}

.swiper {
  margin-bottom: 3.75rem;
}

.wrapper p {
  max-width: 35em;
  margin-bottom: 2rem;
  text-align: center;
}

.socialLinks {
  display: flex;
  gap: 1.25rem;
}

.socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  padding: 1rem;
  transition: border ease-in-out 0.3s;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.socialLinks a:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.backgroundImage {
  z-index: -1;
  filter: brightness(0.25);
}
