.content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--4xl) 0;
  color: white;
}

.content h2 {
  max-width: 10em;
  margin-bottom: var(--2xl);
  text-align: center;
}

.swiper {
  margin-bottom: var(--2xl);
}

.content p {
  max-width: 35em;
  margin-bottom: var(--xs);
  text-align: center;
}

.socialLinks {
  display: flex;
  gap: 1.25rem;
}

.socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  transition: border var(--ts);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.socialLinks a:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.backgroundImage {
  filter: brightness(0.25);
}

@media (max-width: calc(120em - 1px)) {
  .socialLinks a {
    width: var(--lg);
  }
}

@media (max-width: calc(90em - 1px)) {
  .socialLinks a {
    width: 2.75rem;
  }
}
