:root {
  --5xl: 11.25rem;
  --4xl: 9rem;
  --3xl: 6.5rem;
  --2xl: 5.5rem;
  --xl: 4rem;
  --lg: 3.5rem;
  --md: 3rem;
  --sm: 2.5rem;
  --xs: 2rem;
  --2xs: 1.5rem;
  --3xs: 1.5rem;
  --4xs: 1rem;
  --5xs: 0.625rem;

  --h1-font-size: 6rem;
  --h2-font-size: 5.5rem;
  --h3-font-size: 4rem;
  --h4-font-size: 2.5rem;
  --h5-font-size: 2rem;
  --h6-font-size: 1.5rem;
  --sm-font-size: 0.875rem;

  --wrapper-padding-x: var(--2xl);
  --link-padding: 1rem;

  --md-gap: 2rem;
  --sm-gap: 0.75rem;

  --tl: 1s;
  --tm: 0.6s;
  --ts: 0.3s;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, Helvetica, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.04em;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
.h6 {
  font-weight: 300;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: var(--h1-font-size);
}

h2,
.h2 {
  font-size: var(--h2-font-size);
}

h3,
.h3 {
  font-size: var(--h3-font-size);
}

h4,
.h4 {
  font-size: var(--h4-font-size);
}

h5,
.h5 {
  font-size: var(--h5-font-size);
}

.h6 {
  font-size: var(--h6-font-size);
  text-transform: unset;
}

p {
  line-height: 148%;
  letter-spacing: unset;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: calc(120em - 1px)) {
  :root {
    --5xl: 9.25rem;
    --4xl: 7rem;
    --3xl: 5.5rem;
    --2xl: 4.5rem;
    --xl: 3.5rem;
    --lg: 3rem;
    --md: 2.5rem;
    --sm: 2rem;
    --xs: 1.5rem;
    --2xs: 1.25rem;
    --3xs: 1rem;
    --4xs: 0.75rem;
    --5xs: 0.5rem;

    --h1-font-size: 5rem;
    --h2-font-size: 4.5rem;
    --h3-font-size: 3rem;
    --h4-font-size: 2rem;
    --h5-font-size: 1.5rem;
    --h6-font-size: 1.25rem;

    --wrapper-padding-x: 4rem;

    --sm-gap: 0.625rem;
    --sm-font-size: 0.625rem;
  }

  body {
    font-size: 12px;
  }
}

@media (max-width: calc(90em - 1px)) {
  :root {
    --5xl: 8.25rem;
    --4xl: 6rem;
    --3xl: 4.5rem;
    --2xl: 3.5rem;
    --xl: 3rem;
    --lg: 2.5rem;
    --md: 2rem;
    --sm: 1.5rem;
    --xs: 1.25rem;
    --2xs: 1rem;

    --h1-font-size: 4rem;
    --h2-font-size: 3.5rem;
    --h3-font-size: 2.5rem;
    --h4-font-size: 1.5rem;
    --h5-font-size: 1.25rem;
    --h6-font-size: 1rem;

    --wrapper-padding-x: 3.5rem;
    --link-padding: 0.75rem;

    --md-gap: 1.5rem;
  }
}

@media (max-width: calc(64em - 1px)) {
  :root {
    --5xl: 7.5rem;

    --h1-font-size: 3.5rem;
    --h2-font-size: 3.5rem;
    --h3-font-size: 2rem;
    --h4-font-size: 1.5rem;
    --h5-font-size: 1.25rem;
    --h6-font-size: 1rem;

    --wrapper-padding-x: 3rem;
  }
}

@media (max-width: calc(48em - 1px)) {
  :root {
    --5xl: 6rem;
    --4xl: 5rem;
    --3xl: 4rem;

    --h1-font-size: 2.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2rem;
    --h4-font-size: 1.5rem;
    --h5-font-size: 1.25rem;
    --h6-font-size: 1rem;

    --wrapper-padding-x: 1rem;
    --link-padding: 0.5rem;
  }
}
