:root {
  --5xl: 11.25rem;
  --4xl: 9rem;
  --3xl: 6.5rem;
  --2xl: 5.5rem;
  --xl: 4rem;
  --lg: 3.5rem;
  --md: 3rem;
  --sm: 2.5rem;
  --xs: 2rem;
  --2xs: 1.5rem;
  --3xs: 1.5rem;
  --4xs: 1rem;
  --5xs: 0.625rem;
  --gapSize: 2rem;

  --ts: 0.3s;
  --tm: 0.6s;
  --tl: 1s;

  --lg-font-size: var(--xl);
  --sm-font-size: 0.875rem;
  --project-preview-title-font-size: 1.5rem;

  --link-padding: 1rem;
  --wrapper-padding-x: var(--2xl);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, Helvetica, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.04em;
  /*scroll-behavior: smooth;*/
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent;
}

h1,
h2,
p {
  margin: 0;
}

h2 {
  font-size: var(--lg-font-size);
  font-weight: 300;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

p {
  line-height: 148%;
  letter-spacing: unset;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: calc(120em - 1px)) {
  :root {
    --5xl: 9.25rem;
    --4xl: 7rem;
    --3xl: 5.5rem;
    --2xl: 4.5rem;
    --xl: 3.5rem;
    --lg: 3rem;
    --md: 2.5rem;
    --sm: 2rem;
    --xs: 1.5rem;
    --2xs: 1.25rem;
    --3xs: 1rem;
    --4xs: 0.75rem;
    --5xs: 0.5rem;

    --lg-font-size: var(--lg);
    --sm-font-size: 0.625rem;
    --project-preview-title-font-size: 1.25rem;

    --wrapper-padding-x: 4rem;
  }

  body {
    font-size: 12px;
  }
}

@media (max-width: calc(90em - 1px)) {
  :root {
    --5xl: 8.25rem;
    --4xl: 6rem;
    --3xl: 4.5rem;
    --2xl: 3.5rem;
    --xl: 3rem;
    --lg: 2.5rem;
    --md: 2rem;
    --sm: 1.5rem;
    --xs: 1.25rem;
    --2xs: 1rem;
    --gapSize: 1.5rem;

    --project-preview-title-font-size: 1rem;

    --link-padding: 0.75rem;
    --wrapper-padding-x: 3.5rem;
  }
}

@media (max-width: calc(64em - 1px)) {
  :root {
    --5xl: 7.5rem;

    --wrapper-padding-x: 3rem;

    --lg-font-size: var(--md);
  }
}

@media (max-width: calc(48em - 1px)) {
  :root {
    --5xl: 6rem;
    --4xl: 5rem;
    --3xl: 4rem;
    --2xl: 3.5rem;
    --xl: 3rem;
    --lg: 2.5rem;
    --md: 2rem;
    --sm: 1.5rem;
    --xs: 1.25rem;
    --2xs: 1rem;
    --3xs: 1rem;
    --4xs: 0.75rem;
    --5xs: 0.5rem;

    --wrapper-padding-x: 1rem;
    --link-padding: 0.5rem;
  }
}
