.content {
  display: flex;
  overflow: hidden;
  align-items: start;
  flex-direction: column;
  margin: var(--5xl) 0 var(--lg);
}

.content div {
  font-size: var(--h1-font-size);
  width: max-content;
  white-space: nowrap;
}

.content div:last-child {
  position: relative;
  align-self: end;
}
