.content {
  position: relative;
  display: grid;
  min-height: unset;
  padding-top: var(--sm);
  padding-bottom: var(--sm);
  grid-template-columns: 2fr 1fr 1fr;
  row-gap: var(--4xl);
}

.backgroundSvg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translate(350px, -45%);
}

.ctaBlock h3 {
  max-width: calc(4 / 6 * 100%);
  margin-bottom: var(--md);
}

.pages,
.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  white-space: nowrap;
  gap: var(--2xs);
}

.blockTitle {
  margin-bottom: var(--4xs);
  text-transform: uppercase;
  opacity: 0.5;
}

.pages a,
.contacts a {
  font-size: var(--2xs);
  font-weight: 300;
  text-transform: capitalize;
}

.contacts a[href^="mailto:"] {
  text-transform: unset;
}

.copyright,
.policies,
.developedBy {
  text-transform: uppercase;
  opacity: 0.7;
}

.copyright {
}

span.textWithOpacity {
  opacity: 0.5;
}

.policies {
  display: flex;
  gap: var(--sm);
}

.developedBy {
  justify-self: end;
}

@media (max-width: calc(90em - 1px)) {
  .ctaBlock h3 {
    max-width: calc(5 / 6 * 100%);
  }

  .copyright,
  .developedBy {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: calc(64em - 1px)) {
  .policies {
    flex-direction: column;
    gap: unset;
  }
}

@media (max-width: calc(48em - 1px)) {
  .content {
    padding: 0;
    background: hsla(0, 0%, 97%, 1);
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .content > * {
    padding-right: var(--wrapper-padding-x);
    padding-left: var(--wrapper-padding-x);
  }

  .backgroundSvg {
    display: none;
  }

  .ctaBlock {
    margin-bottom: var(--lg);
    padding-top: var(--sm);
    padding-bottom: var(--lg);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
    grid-column: span 2;
  }

  .ctaBlock h3 {
    max-width: unset;
  }

  .pages,
  .contacts {
    margin-top: 0;
    margin-bottom: var(--2xl);
  }

  .pages {
    padding-right: 0;
  }

  .contacts {
    padding-left: 0;
  }

  .blockTitle {
    margin-bottom: var(--5xs);
  }

  .copyright,
  .policies,
  .developedBy {
    display: flex;
    flex-direction: row;
    grid-column: span 2;
    justify-self: unset;
  }

  .policies {
    margin-bottom: var(--lg);
    grid-row: 3;
    gap: var(--md);
  }

  .copyright {
    margin-bottom: var(--5xs);
  }

  .developedBy {
    margin-bottom: var(--sm);
  }
}
